@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    @apply m-0 p-0 box-border no-underline
  }
  img {
    width: auto;
    max-width: 100%;
  }
}

/* ESTILIZAÇÃO DO CABECALHO */
@layer components{
  .foto_menu {
    @apply m-auto flex items-center flex-col;
  }

  .menu {
    @apply m-auto flex flex-col py-[10px] text-black transition-transform duration-300 ease-in-out;
    
    &:hover {
      @apply scale-110;
    }

    ul {
        @apply flex items-center justify-center gap-[60px];

        li {
          @apply bg-white w-[310px] flex flex-col items-center rounded-[10px] shadow-md;

          a {
            @apply px-5 py-2 text-[19px] text-gray-500;
          }
        }
      }
  }
}

/* ESTILIZAÇÃO DO CONTEÚDO DO HOME */
@layer components{
  .cabecalho {
    @apply flex items-center text-white bg-[#030a3e] p-[20px] text-[35px] flex-col;

    h1 {
      @apply p-[10px];
    }
  }

  .saiba-mais {
    @apply px-5 py-2 text-[30px] bg-white border rounded-[20px] text-[#030a3e];
  }

  .inicio {
    @apply m-[20px]  text-[#030a3e] text-center text-[70px];
  }

  .cards {
    @apply flex flex-row justify-center items-center;
  }

  .cards_1,
  .cards_2,
  .cards_3 {
    @apply flex flex-row justify-evenly p-[50px] w-[40%];

    img {
      @apply block rounded-t-[40px];
    }

    p {
      @apply flex justify-center items-center text-center p-5 font-semibold text-[22px];
    }

    a {
      @apply flex justify-center items-center p-[5px] border border-[#00a1fc] border-solid rounded-[15px] mx-32 m-2 text-[#00a1fc];
    }
  }

  .cadastro-carro,
  .medidas-preventivas,
  .assistente-virtual {
    @apply shadow-[0_2px_9px_2px_#7f7f7e] rounded-[60px] flex flex-col;
  }
}

/* ESTILIZAÇÃO DO RODAPÉ */
@layer components{
  footer {
    @apply bg-black p-[0];
  }

  .titulo-parceiro {
    @apply p-[30px];
  }

  .titulo-redes,
  .titulo-parceiro,
  .titulo-app h2 {
    @apply text-center text-[30px] text-white;
  }

  .redes,
  .baixe-app,
  .logo-porto-preta {
    @apply flex justify-center m-[10px] p-[10px];
  }

  .appporto img,
  .logo-porto-preta img {
    @apply w-[200px];
  }

  .redes img {
    @apply w-[80px] p-[15px];
  }
}

/* ESTILIZAÇÃO PADRÃO*/
@layer components {
  .paginas {
    @apply flex justify-start mt-10 ml-[60px] text-[30px] text-gray-500;
  }
}

/* ESTILIZAÇÃO DO CONTEUDO DA PÁGINA DE AJUDA*/
@layer components{
  .titulo_perg_freq{
    @apply flex justify-start items-start ml-[60px] p-[10px] text-[40px] text-black;
  }

  .introducao_ajuda, .perg_freq, .perg_freq_2{
    @apply flex text-justify mx-20 p-[10px] text-[25px] text-black;
  }
  .contato {
    @apply p-0 m-0;
  }

  .stato {
    @apply flex justify-center items-center mt-7;
  }

  .ftato {
    @apply flex flex-col ;

    div {
      @apply flex flex-col mb-[30px];
    }

    input,
    textarea {
      @apply p-[10px] min-w-[300px] max-h-[60px] rounded-[20px] opacity-80 bg-[#030a3e];
    }

    .textarea,
    input {
      @apply text-white cursor-pointer;

      &:hover {
        @apply bg-[#030a3e79];
      }
    }

    .titulo {
      @apply text-[#030a3e] font-bold text-[30px];
    }

    label {
      @apply mb-1 text-gray-700;
    }

    .center {
      @apply text-center;
    }

    .submit-button {
      @apply mt-5;
    }
  }
}

/* ESTILIZAÇÃO DO CONTEÚDO DA PÁGINA DE CADASTRO E LOGIN */
@layer base {
  .cadastro_h2,
  .login_h2 {
    @apply text-2xl font-bold text-center text-[rgb(3,10,62)];
  }

  .f_login,
  .f_cadastro {
    @apply text-blue-500 hover:underline;
  }

  .sucesso {
    @apply flex justify-center text-green-600;
  }

  .erro {
    @apply flex justify-center text-red-600;
  }
}

@layer components {
  .input-area {
    @apply flex flex-col items-center m-20 gap-4 ;
  }

  input {
    @apply text-white outline-none p-[10px] min-w-[300px] max-h-[60px] border border-[#030a3e] rounded-[20px] opacity-80 bg-[#030a3e];
  }

  .b_cadastro,
  .b_login {
    @apply flex justify-center items-center w-32 p-2 bg-[rgb(3,10,62)] border-none rounded-lg text-white;
  }
}

/* CARRO CADASTRO */
@layer components{
  .titulo_instrucao, .titulo_introducao{
    @apply flex justify-start items-start ml-[60px] p-[10px] text-[40px] text-black;
  }
  .introducao_car, .instrucao{
    @apply flex text-justify mx-20 p-[10px] text-[25px] text-black;
  }
  .carro {
    @apply p-0 m-0;
  }

  .scarro {
    @apply flex justify-center items-center;
  }

  .fcarro div {
    @apply flex flex-col mb-[30px];
  }

  .fcarro .titulo {
    @apply m-[10px] text-[#030a3e] text-[30px] font-bold;
  }

  .fcarro label {
    @apply mb-1 text-gray-700;
  }

  .fcarro input,
  .fcarro textarea {
    @apply p-[10px] min-w-[300px] max-h-[60px] rounded-[20px] opacity-80 bg-[#030a3e];
  }

  .fcarro input[type="submit"] {
    @apply bg-[#030a3e] text-white cursor-pointer;
  }

  .textarea, .fcarro  input {
    @apply text-white cursor-pointer;
}

.textarea, .fcarro  input:hover {
    @apply bg-[#030a3e79]; 
}

.titulo_listagem{
  @apply flex justify-start items-start ml-[60px] p-[10px] text-[40px] text-black;
}

.tabela-carros {
  @apply m-20 flex justify-center items-center px-40;
}

.tabela-carros thead {
  @apply border border-gray-600 bg-gray-100;
}

.tabela-carros th {
  @apply px-10 py-2 text-left text-gray-700;
}

.tabela-carros td {
  @apply px-4 py-2 border border-gray-600;
}

.tabela-carros tfoot {
  @apply font-bold text-center;
}


}


/* ESTILIZAÇÃO DO CONTEÚDO DA PÁGINA DE MEDIDAS */
@layer components{
  .titulo_medidas,
  .titulo_medidas_2,
  .titulo_medidas_3 {
    @apply flex justify-start items-start ml-[60px] p-[10px] text-[40px] text-black;
  }

  .text_medidas,
  .text_medidas_2,
  .lista_medidas {
    @apply flex text-justify mx-20 p-[10px] text-[25px] text-black;
  }
}

/* ESTILIZAÇÃO DO CONTEÚDO DA PÁGINA DE PARTICIPANTES */
@layer components {
  .cards-i {
    @apply flex flex-row justify-evenly p-[20px];

    img {
      @apply w-[400px] h-[480px] rounded-t-[40px] rounded-b-none;
    }
  }

  .duda {
    @apply shadow-[0_2px_9px_2px_rgba(127,127,126,1)] rounded-[40px] flex flex-col;
  }

  .gu {
    @apply shadow-[0_2px_9px_2px_rgba(127,127,126,1)] rounded-[40px] flex flex-col;
  }

  .vi {
    @apply shadow-[0_2px_9px_2px_rgba(127,127,126,1)] rounded-[40px] flex flex-col;
    }
}

/* ESTILIZAÇÃO DO CONTEUDO DA PÁGINA DE SAIBA MAIS*/
@layer components{
  .text_saiba_1, .text_saiba_2, .text_saiba_3, .text_saiba_4, .text_saiba_5 {
    @apply flex text-justify mx-20 p-[10px] text-[25px] text-black;
  }

  .titulo_saiba_1, .titulo_saiba_2, .titulo_saiba_3, .titulo_saiba_4, .titulo_saiba_5{
    @apply flex justify-start items-start ml-[60px] p-[10px] text-[40px] text-black;
  }
}

/* ESTILIZAÇÃO DO CONTEUDO DA PÁGINA DE SOBRE NÓS*/
@layer components{
  .text_sobre{
    @apply flex text-justify mx-[100px] p-[10px] text-[25px] text-black;
  }

.participantes {
    @apply flex items-center justify-center text-[30px] p-[20px] text-[#030a3e];
  }
}



/* RESPONSIVIDADE */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border no-underline;
  }
  img {
    width: auto;
    max-width: 100%;
  }
}

/* CABECALHO */
@layer components {
  .foto_menu {
    @apply m-auto flex items-center flex-col;
  }

  .menu {
    @apply m-auto flex flex-col py-[10px] text-black transition-transform duration-300 ease-in-out;

    &:hover {
      @apply scale-110;
    }

    ul {
      @apply flex flex-col items-center justify-center gap-[30px];

      li {
        @apply bg-white w-full flex flex-col items-center rounded-[10px] shadow-md;

        a {
          @apply px-5 py-2 text-[19px] text-gray-500;
        }
      }
    }
  }
}

/* SMARTPHONES */
@media (max-width: 900px) {
  .menu ul {
    @apply flex flex-col gap-[20px];
  }

  .inicio {
    @apply m-[10px] text-[#030a3e] text-center text-[40px];
  }

  .cards, .cards-i {
    @apply flex flex-col items-start;
  }

  .cards_1,
  .cards_2,
  .cards_3 {
    @apply flex flex-row justify-evenly p-0 m-5 w-[90%];
  }

  .cabecalho {
    @apply p-[15px] text-[25px];
  }


  .titulo_perg_freq,
  .titulo_instrucao,
  .titulo_introducao,
  .titulo_medidas,
  .titulo_medidas_2,
  .titulo_medidas_3 {
    @apply text-[30px] ml-[10px];
  }

  .text_sobre,
  .text_saiba_1,
  .text_saiba_2,
  .text_saiba_3,
  .text_saiba_4,
  .text_saiba_5 {
    @apply text-[15px] mx-[5px] p-[5px];
  }

  .appporto img,
  .logo-porto-preta img {
    @apply w-[150px];
  }

  .redes img {
    @apply w-[50px];
  }

  .introducao_car, .instrucao, .introducao_ajuda, .perg_freq, .perg_freq_2{
    @apply text-[15px]
  }

    .tabela-carros {
      @apply block w-full m-0 px-2;
    }
  
    .tabela-carros table {
      @apply block w-full;
    }
  
    .tabela-carros thead,
    .tabela-carros tfoot {
      @apply hidden;
    }
  
    .tabela-carros tbody {
      @apply block w-full;
    }
  
    .tabela-carros tbody tr {
      @apply flex flex-col mb-4 bg-white rounded-lg shadow-lg p-4 w-full;
    }
  
    .tabela-carros tbody tr td {
      @apply flex justify-between text-gray-700 py-2 w-full;
      display: flex;
    }
  
    .tabela-carros tbody tr td::before {
      @apply font-semibold text-gray-500;
    }
  
    /* Prefixos de cada coluna para dispositivos móveis */
    .tabela-carros tbody tr td:nth-child(1)::before {
      content: "Placa: ";
    }
    .tabela-carros tbody tr td:nth-child(2)::before {
      content: "Ano: ";
    }
    .tabela-carros tbody tr td:nth-child(3)::before {
      content: "Modelo: ";
    }
    .tabela-carros tbody tr td:nth-child(4)::before {
      content: "Marca: ";
    }
    .tabela-carros tbody tr td:nth-child(5)::before {
      content: "KM: ";
    }
    .tabela-carros tbody tr td:nth-child(6)::before {
      content: "Tipo: ";
    }
    .tabela-carros tbody tr td:nth-child(7)::before {
      content: "Excluir: ";
    }

    
  
  }


/* TABLETS */
@media (min-width: 650px) and (max-width: 1024px) {
  .menu ul {
    @apply flex flex-row gap-[40px];
  }

  .cabecalho {
    @apply p-[20px] text-[30px];
  }

  .inicio {
    @apply m-[15px] text-[#030a3e] text-center text-[50px];
  }

  .cards {
    @apply flex flex-col md:flex-row justify-center items-center;
  }

  .titulo_perg_freq,
  .titulo_instrucao,
  .titulo_introducao,
  .titulo_medidas,
  .titulo_medidas_2,
  .titulo_medidas_3 {
    @apply text-[35px] ml-[30px];
  }

  .text_sobre,
  .text_saiba_1,
  .text_saiba_2,
  .text_saiba_3,
  .text_saiba_4,
  .text_saiba_5 {
    @apply text-[22px] mx-[20px] p-[10px];
  }

  .appporto img,
  .logo-porto-preta img {
    @apply w-[180px];
  }

  .redes img {
    @apply w-[70px];
  }

  .menu {
    @apply m-auto flex flex-col py-[10px] text-black transition-transform duration-300 ease-in-out;

    &:hover {
      @apply scale-90;
    }

    ul {
        @apply gap-[40px];

        li {
          @apply w-[200px];

          a {
            @apply px-5 py-2 text-[15px] text-gray-500;
          }
        }
      }
  }


    .cabecalho {
      @apply text-[20px];
    }

    .saiba-mais {
      @apply px-5 py-2 text-[20px];
    }

    .inicio {
      @apply text-center text-[40px];
    }

    .cards {
      @apply flex flex-col justify-center items-center px-14;
    }

    .cards_1,
    .cards_2,
    .cards_3 {
      @apply flex flex-row justify-evenly p-[20px] w-[100%];
    }  

  
}

/* DESKTOPS */
@media (min-width: 1025px) {
  .menu ul {
    @apply flex flex-row gap-[60px];
  }

  .cabecalho {
    @apply p-[20px] text-[35px];
  }

  .inicio {
    @apply m-[20px] text-[#030a3e] text-center text-[70px];
  }

  .cards {
    @apply flex flex-row justify-center items-center;
  }

  .titulo_perg_freq,
  .titulo_instrucao,
  .titulo_introducao,
  .titulo_medidas,
  .titulo_medidas_2,
  .titulo_medidas_3 {
    @apply text-[40px] ml-[60px];
  }

  .text_sobre,
  .text_saiba_1,
  .text_saiba_2,
  .text_saiba_3,
  .text_saiba_4,
  .text_saiba_5 {
    @apply text-[25px] mx-[100px] p-[10px];
  }

  .appporto img,
  .logo-porto-preta img {
    @apply w-[200px];
  }

  .redes img {
    @apply w-[80px];
  }
}